<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .title 第一週課題 & 實作練習
    .rule
      ul
        li 1. 區塊一點擊後在瀏覽器的 js 控制台 (console) 裡面顯示 '點擊了一次' 的字樣
        li 2. 區塊二點擊後在瀏覽器的 js 控制台 (console) 裡面顯示 '點擊了 n 次' 的字樣
        li.plus *. 區塊三點及後會在下方新增新增區塊，並顯示這是第 n 個新增的區塊
      .description 紅字為額外題目
    #computer
      .btn-wrap
        .btn(data-value="") AC
        .btn(data-value="multiplication") *
        .btn(data-value="division") /
        .btn(data-value="addition") +
        .btn(data-value="7") 7
        .btn(data-value="8") 8
        .btn(data-value="9") 9
        .btn(data-value="subtraction") -
        .btn(data-value="7") 4
        .btn(data-value="7") 5
        .btn(data-value="7") 6
        .btn(data-value="equal") =
        .btn(data-value="7") 1
        .btn(data-value="7") 2
        .btn(data-value="7") 3
        .btn(data-value="0") 0