.title {
  font-size: 28px;
  margin: 10px;
}

.rule {
  margin: 20px;
  ul {
    li {
      font-size: 20px;
      margin: 10px 0px;

      &.plus {
        color: #ff0000;
      }
    }
  }
  .description {
    font-size: 14px;
    color: #aaaaaa;
    font-style: italic;
  }
}

@import './course-1.scss';
@import './course-2.scss';
@import './course-3.scss';